<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <title>Tom's Photography</title>
  </head>
  <body>
      <div id= "header"> 
          <h3 id="name"> Tom O'Keefe | Professional Photography</h3>
              <a href id= "link"="/">Home</a>
      </div>
              
      <div class="left">
      <h3> Welcome to the home of beautiful, professional photography!!!</h3>
      <p1> Testimonials:
      </p1>

        <div>
          <p2> Janis & Bruce had this to say... "We simply can't thank you enough, we could not be happier with the photos. You seem to 'just get' what we are all about; geeky, silly and relaxed. You are simply the best!
          </p2>
          <p3><iframe width="450" height="280" src="https://www.youtube.com/embed/mNU3aIJs88g" frameborder="0" allowfullscreen></iframe>
        </div>
        <a href id = "about"="/about">About</a>
     </div>
      <div class="right">
          <table>
              <tbody></tbody>
                  <tr>
                      <td> 
                          <a href= "http://www.vogue.co.uk/"><img src="http://en.vogue.fr/uploads/images/thumbs/201606/00/965_mars_couv_1_jpg_2546_north_499x_white.jpg"/></a>
                     </td>
                     <td>
                         <a href="http://www.elle.com/"><img src="http://www.kismetgirls.com/Clothing/Clothing_Pictures/Elle_Magazine_Fashion_Katy_Perry.jpg?"/></a>
                     </td>
                     </td>
                  </tr>
                  <tr>
                    <td>
                        <a href="http://www.prweek.com/uk"><img src="https://ivanbellanovablog.files.wordpress.com/2014/10/abfabmovie.jpg"/></a>
                    </td>
                    <td>
                        <a href="http://digital-photography-school.com/12-steps-becoming-good-photographer/"><img src="http://petapixel.com/assets/uploads/2015/07/photographer-428388_640.jpg"/></a>
                    </td>
                 </tr>
                      <tr>
                          <td> <a href="http://improvephotography.com/3236/wedding-photography-tips/"><img src="http://www.gemmellmania.co.uk/wp-content/uploads/2016/03/wedding-photographer.jpg" /></a>
                          </td>
                          <td> <a href="http://www.huffingtonpost.com/melinda-emerson/the-importance-of-a-profe_b_8818560.html"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSwpeA5yyKk2Gitndvlv-3dNzHZpE6qmub2K6UxjW-p7cKPPC0R" /></a>
                          </td>
                          </tr>
         </table>
      </div>
      <div id="footer">
          <p id ="contact"> Contact me - 07741188746</p>
          <a href ="https://uk.linkedin.com/in/marie-moyles-a7277228"> Connect on LinkedIn</a>
      </div>
  

<%= yield %>

</body>
</html>